body{
    font-family: $body-font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    @media (max-width: 767px) {
        font-size: 12px;
    }
}

a{
    text-decoration: none;
    color: $color-primary;
}
p{
    margin-bottom: 1.4em;
}

ul{
    li{
        >a{
            text-decoration: none;
            color: #000;
            transition: all 0.3s ease;
            &:hover{
                color: $color-primary;
            }
        }
    }
}