$body-font-family: 'Open Sans', sans-serif;
$font-size-root: 16px;
$line-height-root: 1.6em;

$heading-font-family: 'Baloo', cursive;
$heading-font-family-th: 'Mitr', sans-serif;
$heading-font-family-zh: 'Noto Sans HK', sans-serif;

$color-primary: #43B649;
$color-primary-light: #4CDD54;
$color-primary-dark: #0F6F14;

$color-secondary: #ED6725;
$color-secondary-light: #EDA825;
$color-secondary-dark: #8B3C14;

$color-gray-lighten: #F8F8F8;
$color-gray-light: #EBEAEA;
$color-gray: #ADABA7;
$color-gray-dark: #707070;

$color-red: #F44336;