<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>lendela Style</title>

    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:900&display=swap&subset=chinese-hongkong" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mitr:500&display=swap&subset=thai" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/653a1ba019.js"></script>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but lendela-style doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
