<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1 class="display-4 text-center">About <span class="color-primary">us</span></h1>
                </div>
            </div>
        </div>
        <div class="about-page">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 about-content">
                        <div class="header">
                            <h3 class="title">We connect the right <span class="new-line">customer with the right bank</span></h3>
                        </div>
                        <div class="content">
                            <p>At Lendela, we believe that there is a better way to simplify the loan application process through leveraging digital technology. We want to create superior value and empower consumers, whilst at the same time delivering high quality customers to our bank partners & credit providers. </p>
                            <p>We’re excited for this opportunity to focus on the customer experience and create a platform for connecting consumers with our partners. </p>
                        </div>
                        <div class="review">
                            <a href="javascript:void(0)" ><img class="google-review" src="/assets/images/google-review.svg" /></a>
                            <a href="javascript:void(0)" ><img class="facebook-review" src="/assets/images/facebook-review.svg" /></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 about-content">
                        <div class="header">
                            <h3 class="title">A strong global track record</h3>
                        </div>
                        <div class="content">
                            <p>In the Scandinavian region, we have over 15 years of experience in helping connect consumers with the best credit providers. We have channeled over a million customers to over 20 well established banks and lenders in the region, such as Santander, SEB & Swedbank.</p>
                            <p>In South America, we launched <a href="javascript:void(0)" >FinanZero</a> in 2016. Here, we partnered with more than 25 established credit partners like Banco Pan, BV, Safra, Banco Maxima, Banco CBSS and Banco IBI. Having processed over 600,000 loan applications, we are now the market leader in Brazil, allowing our customers to get the best personal loan and start fulfilling their dreams. In 2018, we launched under the brand <a href="javascript:void(0)">Prestalo</a> in Spain. </p>
                            <p>We are now excited to launch in South East Asia under the brand <strong>Lendela</strong>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
