<template>
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="display-4">Accordion</h1>
        </div>
        <div class="col-12 col-md-8  mb-4">
            <div class="accordion">
                <div class="accordion-header">
                    <button class="accordion-header-button display-3">What a Personal Loan is?</button>
                </div>
                <div class="accordion-content body-1">
                    <p>A personal loan is money that is taken up for personal use for such purposes as paying off a credit card debt, buying home gadgets, home or kitchen renovation, embarking on a special vacation, education, medical or wedding expenditure, or emergencies. Personal loans are also called consumer loans and are usually not backed by collateral. The lenders usually begin by determining your credit score to assess whether you are eligible for the personal loan and what interest rate should be placed on the loan. </p>
                    <p>Making repayments on the loan usually involves making principal and interest payments monthly. The interest rates that are fixed on personal loans will be determined by your credit history. Personal loans are best obtained for individuals who have issues that they want to fix quickly. It also enables you to make huge purchases and make repayments at your own pace.</p>                    
                </div>
            </div>
            <div class="accordion -collapse">
                <div class="accordion-header">
                    <button class="accordion-header-button display-3">How a Personal Loan Works?</button>
                </div>
                <div class="accordion-content body-1">
                    <p>A personal loan is money that is taken up for personal use for such purposes as paying off a credit card debt, buying home gadgets, home or kitchen renovation, embarking on a special vacation, education, medical or wedding expenditure, or emergencies. Personal loans are also called consumer loans and are usually not backed by collateral. The lenders usually begin by determining your credit score to assess whether you are eligible for the personal loan and what interest rate should be placed on the loan. </p>
                    <p>Making repayments on the loan usually involves making principal and interest payments monthly. The interest rates that are fixed on personal loans will be determined by your credit history. Personal loans are best obtained for individuals who have issues that they want to fix quickly. It also enables you to make huge purchases and make repayments at your own pace.</p>                    
                </div>
            </div>
            <div class="accordion -collapse">
                <div class="accordion-header">
                    <button class="accordion-header-button display-3">Who Offers a Personal Loan?</button>
                </div>
                <div class="accordion-content body-1">
                    <p>A personal loan is money that is taken up for personal use for such purposes as paying off a credit card debt, buying home gadgets, home or kitchen renovation, embarking on a special vacation, education, medical or wedding expenditure, or emergencies. Personal loans are also called consumer loans and are usually not backed by collateral. The lenders usually begin by determining your credit score to assess whether you are eligible for the personal loan and what interest rate should be placed on the loan. </p>
                    <p>Making repayments on the loan usually involves making principal and interest payments monthly. The interest rates that are fixed on personal loans will be determined by your credit history. Personal loans are best obtained for individuals who have issues that they want to fix quickly. It also enables you to make huge purchases and make repayments at your own pace.</p>                    
                </div>
            </div>
        </div>
      </div>
    </div>
</template>
