<template>
  <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          <h1 class="display-4">Button</h1>
        </div>

        <div class="col-6 col-md-4 col-lg-3 mb-5">
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -outline -sm" >Normal Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -outline -sm -hover" >Hover Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -outline -sm -active" >Acitve Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -outline -sm -loading" ><i class="fa fa-refresh fa-spin" ></i> Loading</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -outline -sm -disabled" >Disable Button</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 mb-5">
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -outline" >Normal Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -outline -hover" >Hover Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -outline -active" >Acitve Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -outline -loading" ><i class="fa fa-refresh fa-spin" ></i> Loading</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -outline -disabled" >Disable Button</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 mb-5">
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -primary" >Normal Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -primary -hover" >Hover Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -primary -active" >Acitve Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -primary -loading" ><i class="fa fa-refresh fa-spin" ></i> Loading</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -primary -disabled" >Disable Button</a>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 mb-5">
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -primary -lg" >Normal Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -primary -lg -hover" >Hover Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -primary -lg -active" >Acitve Button</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -primary -lg -loading" ><i class="fa fa-refresh fa-spin" ></i> Loading</a>
          </div>
          <div class="mb-4">
            <a href="javascript:void(0)" class="btn -primary -lg -disabled" >Disable Button</a>
          </div>
        </div>        
        
      </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    
  }),
};
</script>
