<template>
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-md-12 col-lg-6">

                <h1 class="display-4 mb-4">Calculate Panel</h1>

                <div class="calculate-panel">
                    <div class="calculate-panel-header">
                        <h3 class="display-2">Calculate your loan</h3>
                        <div class="icon-arrow"></div>
                    </div>
                    <div class="calculate-panel-container">
                        
                        <div class="monthly-loan-cost">
                            <h3 class="label display-2">Monthly loan cost</h3>
                            <div class="value display-4"><span class="currency">RM</span> {{monthlyLoanCost.toLocaleString()}}</div>
                        </div>

                        <div class="slide-wrapper">
                            <div class="slide-container loan-amount">
                                <div class="label-header">
                                    <h3 class="display-2 label-left">Loan amount</h3>
                                    <div class="title label-right"><span class="currency">RM</span> {{loanAmount.toLocaleString()}}</div>
                                </div>
                                <vue-slider v-model="loanAmount" height="8px" :min="1000" :max="500000" tooltip="none" />
                                <div class="label-footer">
                                    <div class="label-left label-min"><span class="currency">RM</span> 1,000</div>
                                    <div class="label-right label-max"><span class="currency">RM</span> 500,000</div>
                                </div>
                            </div>
                            
                            <div class="slide-container tenure">
                                <div class="label-header">
                                    <h3 class="display-2 label-left">Tenure</h3>
                                    <div class="title label-right">{{tenure.toLocaleString()}} year</div>
                                </div>
                                <vue-slider v-model="tenure" height="8px" :min="1" :max="7" tooltip="none" />
                                <div class="label-footer">
                                    <div class="label-left label-min">1 year</div>
                                    <div class="label-right label-max">7 year</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="action">
                            <button type="button" class="btn -primary -lg">Apply now</button>
                        </div>

                        <div class="caption">
                            * Min. repayment period 1 year, max. repayment period 7 years. Monthly instalment estimated by dividing total loan amount equally over loan tenure, based on illustrated interest rate of 5.3% p.a. Actual interest rate will be reflected  on offer page. By proceeding, you are agreeing to our <a href="javascript:void(0)">Terms</a> & <a href="javascript:void(0)">Privacy policy</a>.
                        </div>
                    </div>
                </div>
                
            </div>


            <div class="col-12 col-md-12 offset-lg-1 col-lg-4 mt-md-5 mt-lg-0">

                <h1 class="display-4 mb-4">mobile</h1>

                <div class="calculate-panel -mobile">
                    <div class="calculate-panel-header">
                        <h3 class="display-2">Calculate your loan</h3>
                        <div class="icon-arrow"></div>
                    </div>
                    <div class="calculate-panel-container">
                        
                        <div class="monthly-loan-cost">
                            <h3 class="label display-2">Monthly loan cost</h3>
                            <div class="value display-4"><span class="currency">RM</span> {{monthlyLoanCost.toLocaleString()}}</div>
                        </div>

                        <div class="slide-wrapper">
                            <div class="slide-container loan-amount">
                                <div class="label-header">
                                    <h3 class="display-2 label-left">Loan amount</h3>
                                    <div class="title label-right"><span class="currency">RM</span> {{loanAmount.toLocaleString()}}</div>
                                </div>
                                <vue-slider v-model="loanAmount" height="8px" :min="1000" :max="500000" tooltip="none" />
                                <div class="label-footer">
                                    <div class="label-left label-min"><span class="currency">RM</span> 1,000</div>
                                    <div class="label-right label-max"><span class="currency">RM</span> 500,000</div>
                                </div>
                            </div>
                            
                            <div class="slide-container tenure">
                                <div class="label-header">
                                    <h3 class="display-2 label-left">Tenure</h3>
                                    <div class="title label-right">{{tenure.toLocaleString()}} year</div>
                                </div>
                                <vue-slider v-model="tenure" height="8px" :min="1" :max="7" tooltip="none" />
                                <div class="label-footer">
                                    <div class="label-left label-min">1 year</div>
                                    <div class="label-right label-max">7 year</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="action">
                            <button type="button" class="btn -primary -lg">Apply now</button>
                        </div>

                        <div class="caption">
                            * Min. repayment period 1 year, max. repayment period 7 years. Monthly instalment estimated by dividing total loan amount equally over loan tenure, based on illustrated interest rate of 5.3% p.a. Actual interest rate will be reflected  on offer page. By proceeding, you are agreeing to our <a href="javascript:void(0)">Terms</a> & <a href="javascript:void(0)">Privacy policy</a>.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import VueSlider from 'vue-slider-component'
export default {
    components:{
        VueSlider,
    },
    data () {
        return {
            loanAmount: 1000,
            tenure: 1,
        }
    },
    computed: {
        monthlyLoanCost: function() {
            return parseInt( this.loanAmount / (this.tenure*12) )
        }
    }
}
</script>
 