<template>
  <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="display-4">Color Palette</h1>
        </div>
        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #43B649;"></div>
          <div class="title">#43B649</div>
          <div class="text">Primary</div>
        </div>
        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #4CDD54;"></div>
          <div class="title">#4CDD54</div>
          <div class="text">Primary lighten</div>
        </div>
        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #0F6F14;"></div>
          <div class="title">#0F6F14</div>
          <div class="text">Primary darken</div>
        </div>

        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #ED6725;"></div>
          <div class="title">#ED6725</div>
          <div class="text">Secondary</div>
        </div>
        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #EDA825;"></div>
          <div class="title">#EDA825</div>
          <div class="text">Secondary lighten</div>
        </div>
        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #8B3C14;"></div>
          <div class="title">#8B3C14</div>
          <div class="text">Secondary darken</div>
        </div>

        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #000000;"></div>
          <div class="title">#000000</div>
          <div class="text">Black</div>
        </div>
        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #707070;"></div>
          <div class="title">#707070</div>
          <div class="text">Gray darken</div>
        </div>
        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #ADABA7;"></div>
          <div class="title">#ADABA7</div>
          <div class="text">Gray</div>
        </div>
        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #EBEAEA;"></div>
          <div class="title">#EBEAEA</div>
          <div class="text">Gray lighten</div>
        </div>
        <div class="card col-3 col-sm-2 mx-2 mb-4" >
          <div class="thumb" style="background-color: #F8F8F8; border: 1px solid #ddd"></div>
          <div class="title">#F8F8F8</div>
          <div class="text">Gray lightest</div>
        </div>

      </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    
  }),
};
</script>
