<template>
    <div>
        <div class="contact-page">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-6">
                        <div class="contact-header-wrapper mb-4">
                            <h1 class="contact-header">Contact us</h1>
                            <h2 class="contact-line-1">Do you have any feedback</h2>
                            <h3 class="contact-line-2">or comments? Or just want to say hi?</h3>
                            <h3 class="contact-line-3">Give us a call or send us an e-mail!</h3>
                        </div>
                        
                        <div class="col-contact-info d-flex d-md-none">
                            <div class="contact-info-item mb-5">
                                <div class="label">
                                    <i class="fas fa-phone"></i> Phone number
                                </div>
                                <div class="content">
                                    <a href="javascript:void(0)">+60176918190</a>
                                </div>
                            </div>

                            <div class="contact-info-item mb-5">
                                <div class="label">
                                    <i class="fas fa-envelope"></i> Email
                                </div>
                                <div class="content">
                                    <a href="javascript:void(0)">info@lendela.com</a>
                                </div>
                            </div>

                            <div class="contact-info-item mb-5">
                                <div class="label">
                                    <i class="fas fa-map-marker-alt"></i> Address
                                </div>
                                <address>
                                    <div class="display-2">Lendela Sdn Bhd</div>                                
                                    #18-106, Equatorial Plaza<br/>
                                    Jalan Sultan Ismail<br/>
                                    50250 Kuala Lumpur
                                </address>
                            </div>
                        </div>

                        <div class="contact-form">
                            <div class="row">
                                <div class="col-12 col-md-6 mb-2">
                                    <div class="text-field">
                                        <div class="input-control">
                                            <label>Email</label>
                                            <input type="email" disabled/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <div class="text-field">
                                        <div class="input-control">
                                            <label>Name</label>
                                            <input type="text" disabled/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-4">
                                    <div class="text-field">
                                        <div class="input-control">
                                            <label>Message</label>
                                            <textarea rows="5" type="text" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn -primary" type="submit">Contact</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-contact-info col-12 col-md-5 col-lg-5 offset-lg-1 offset-md-0 d-none d-md-flex">
                        <div class="contact-info-item mb-5">
                            <div class="label">
                                <i class="fas fa-phone"></i> Phone number
                            </div>
                            <div class="content">
                                <a href="javascript:void(0)">+60176918190</a>
                            </div>
                        </div>

                        <div class="contact-info-item mb-5">
                            <div class="label">
                                <i class="fas fa-envelope"></i> Email
                            </div>
                            <div class="content">
                                <a href="javascript:void(0)">info@lendela.com</a>
                            </div>
                        </div>

                        <div class="contact-info-item mb-5">
                            <div class="label">
                                <i class="fas fa-map-marker-alt"></i> Address
                            </div>
                            <address>
                                <div class="display-2">Lendela Sdn Bhd</div>                                
                                #18-106, Equatorial Plaza<br/>
                                Jalan Sultan Ismail<br/>
                                50250 Kuala Lumpur
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 200px"></div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-4 mb-5">Mobile</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="contact-page -mobile">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="contact-header-wrapper mb-4">
                                        <h1 class="contact-header">Contact us</h1>
                                        <h2 class="contact-line-1">Do you have any feedback</h2>
                                        <h3 class="contact-line-2">or comments? Or just want to say hi?</h3>
                                        <h3 class="contact-line-3">Give us a call or send us an e-mail!</h3>
                                    </div>
                                    
                                    <div class="col-contact-info d-flex">
                                        <div class="contact-info-item mb-5">
                                            <div class="label">
                                                <i class="fas fa-phone"></i> Phone number
                                            </div>
                                            <div class="content">
                                                <a href="javascript:void(0)">+60176918190</a>
                                            </div>
                                        </div>

                                        <div class="contact-info-item mb-5">
                                            <div class="label">
                                                <i class="fas fa-envelope"></i> Email
                                            </div>
                                            <div class="content">
                                                <a href="javascript:void(0)">info@lendela.com</a>
                                            </div>
                                        </div>

                                        <div class="contact-info-item mb-5">
                                            <div class="label">
                                                <i class="fas fa-map-marker-alt"></i> Address
                                            </div>
                                            <address>
                                                <div class="display-2">Lendela Sdn Bhd</div>                                
                                                #18-106, Equatorial Plaza<br/>
                                                Jalan Sultan Ismail<br/>
                                                50250 Kuala Lumpur
                                            </address>
                                        </div>
                                    </div>

                                    <div class="contact-form">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <div class="text-field">
                                                    <div class="input-control">
                                                        <label>Email</label>
                                                        <input type="email" disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-2">
                                                <div class="text-field">
                                                    <div class="input-control">
                                                        <label>Name</label>
                                                        <input type="text" disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-4">
                                                <div class="text-field">
                                                    <div class="input-control">
                                                        <label>Message</label>
                                                        <textarea rows="5" type="text" disabled></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn -primary" type="submit">Contact</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-contact-info col-12 d-none">
                                    <div class="contact-info-item mb-5">
                                        <div class="label">
                                            <i class="fas fa-phone"></i> Phone number
                                        </div>
                                        <div class="content">
                                            <a href="javascript:void(0)">+60176918190</a>
                                        </div>
                                    </div>

                                    <div class="contact-info-item mb-5">
                                        <div class="label">
                                            <i class="fas fa-envelope"></i> Email
                                        </div>
                                        <div class="content">
                                            <a href="javascript:void(0)">info@lendela.com</a>
                                        </div>
                                    </div>

                                    <div class="contact-info-item mb-5">
                                        <div class="label">
                                            <i class="fas fa-map-marker-alt"></i> Address
                                        </div>
                                        <address>
                                            <div class="display-2">Lendela Sdn Bhd</div>                                
                                            #18-106, Equatorial Plaza<br/>
                                            Jalan Sultan Ismail<br/>
                                            50250 Kuala Lumpur
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>