<template>
    <div>
        <div class="container">
            <div class="row">
                
                <div class="col-12 col-md-8 mb-3">
                    <h1 class="display-4 mb-4">Content card</h1>

                    <div class="content-card">
                        <div class="header">
                            <h4 class="display-3">What a Personal Loan is?</h4>
                            <a href="javascript:void(0)" class="back-top-top">Back to top</a>
                        </div>
                        <div class="detail body-2">
                            <p>A personal loan is money that is taken up for personal use for such purposes as paying off a credit card debt, buying home gadgets, home or kitchen renovation, embarking on a special vacation, education, medical or wedding expenditure, or emergencies. Personal loans are also called consumer loans and are usually not backed by collateral. The lenders usually begin by determining your credit score to assess whether you are eligible for the personal loan and what interest rate should be placed on the loan.</p>
                            <p>Making repayments on the loan usually involves making principal and interest payments monthly. The interest rates that are fixed on personal loans will be determined by your credit history. Personal loans are best obtained for individuals who have issues that they want to fix quickly. It also enables you to make huge purchases and make repayments at your own pace.</p>
                        </div>
                        <div class="action">
                            <a href="javascript:void(0)" class="btn -outline -sm">Back to top</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 d-lg-none"></div>

                <div class="col-12 col-md-8 col-lg-4 mb-3">
                    <h1 class="display-4 mb-4">Mobile</h1>

                    <div class="content-card -mobile">
                        <div class="header">
                            <h4 class="display-3">What a Personal Loan is?</h4>
                            <a href="javascript:void(0)" class="back-top-top">Back to top</a>
                        </div>
                        <div class="detail body-2">
                            <p>A personal loan is money that is taken up for personal use for such purposes as paying off a credit card debt, buying home gadgets, home or kitchen renovation, embarking on a special vacation, education, medical or wedding expenditure, or emergencies. Personal loans are also called consumer loans and are usually not backed by collateral. The lenders usually begin by determining your credit score to assess whether you are eligible for the personal loan and what interest rate should be placed on the loan.</p>
                            <p>Making repayments on the loan usually involves making principal and interest payments monthly. The interest rates that are fixed on personal loans will be determined by your credit history. Personal loans are best obtained for individuals who have issues that they want to fix quickly. It also enables you to make huge purchases and make repayments at your own pace.</p>
                        </div>
                        <div class="action">
                            <a href="javascript:void(0)" class="btn -outline -sm">Back to top</a>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</template>
