<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h1 class="display-4">Content item</h1>
                </div>
                <div class="col-12 col-md-4 mb-3">

                    <div class="content-item">
                        <div class="thumb">
                            <a class="image" style="background-image: url('/assets/images/content-image@2x.png')" href="javascript:void(0)"></a>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="javascript:void(0)">Lendela at PrinceDaniel Fellowship hosted by Nordic Innovation House - Singapore</a></h4>
                            <div class="detail body-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus venenatis est. Ut suscipit auctor posuere. Nunc placerat quis arcu ut pellentesque. Nullam odio arcu, tempor ut malesuada sit amet, convallis eu libero. Curabitur et malesuada sapien. Ut quis leo felis.</div>
                            <div class="meta caption">Jun 21, 2019</div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-4 mb-3">

                    <div class="content-item">
                        <div class="thumb">
                            <a class="image" style="background-image: url('/assets/images/content-image@2x.png')" href="javascript:void(0)"></a>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="javascript:void(0)">Lendela at PrinceDaniel Fellowship hosted by Nordic Innovation House - Singapore</a></h4>
                            <div class="detail body-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus venenatis est. Ut suscipit auctor posuere. Nunc placerat quis arcu ut pellentesque. Nullam odio arcu, tempor ut malesuada sit amet, convallis eu libero. Curabitur et malesuada sapien. Ut quis leo felis.</div>
                            <div class="meta caption">Jun 21, 2019</div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-4 mb-3">

                    <div class="content-item">
                        <div class="thumb">
                            <a class="image" style="background-image: url('/assets/images/content-image@2x.png')" href="javascript:void(0)"></a>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="javascript:void(0)">Lendela at PrinceDaniel Fellowship hosted by Nordic Innovation House - Singapore</a></h4>
                            <div class="detail body-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus venenatis est. Ut suscipit auctor posuere. Nunc placerat quis arcu ut pellentesque. Nullam odio arcu, tempor ut malesuada sit amet, convallis eu libero. Curabitur et malesuada sapien. Ut quis leo felis.</div>
                            <div class="meta caption">Jun 21, 2019</div>
                        </div>
                    </div>

                </div>

                <div class="col-12 mt-5 mb-4">
                    <h1 class="display-4">Content item horizontal</h1>
                </div>

                <div class="col-12 col-md-9 mb-3">

                    <div class="content-item -horizontal">
                        <div class="thumb">
                            <a class="image" style="background-image: url('/assets/images/content-image@2x.png')" href="javascript:void(0)"></a>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="javascript:void(0)">Lendela at PrinceDaniel Fellowship hosted by Nordic Innovation House - Singapore</a></h4>
                            <div class="detail body-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus venenatis est. Ut suscipit auctor posuere. Nunc placerat quis arcu ut pellentesque. Nullam odio arcu, tempor ut malesuada sit amet, convallis eu libero. Curabitur et malesuada sapien. Ut quis leo felis.</div>
                            <div class="meta caption">Jun 21, 2019</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>
