<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                <h1 class="display-4">Footer</h1>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-nav">
                <div class="container footer-container">
                    <div class="row">
                        <div class="col-12 col-md-4 col-address">
                            <img class="logo" src="/assets/images/lendela-logo.svg">
                            <address>
                                <h3 class="display-2">lendela Sdn Bhd</h3>
                                <p class="body-2">#18-106, Equatorial Plaza Jalan <br>
                                Sultan Ismail 50250 Kuala Lumpur</p>
                            </address>
                        </div>
                        <div class="col-12 col-md-2 col-nav">
                            <h3 class="display-2">lendela</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Home</a></li>
                                <li><a href="javascript:void(0)">About us</a></li>
                                <li><a href="javascript:void(0)">Contact us</a></li>
                                <li><a href="javascript:void(0)">Blog</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-3 col-nav">
                            <h3 class="display-2">Policy</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Privacy policy</a></li>
                                <li><a href="javascript:void(0)">Terms of use</a></li>
                                <li><a href="javascript:void(0)">Acceptable use policy</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-3 col-social">
                            <h3 class="display-2">Stay in touch</h3>
                            <ul class="social-list">
                                <li><a href="javascript:void(0)"><img src="/assets/images/icon-facebook.svg"></a></li>
                                <li><a href="javascript:void(0)"><img src="/assets/images/icon-linkedin.svg"></a></li>
                                <li><a href="javascript:void(0)"><img src="/assets/images/icon-twitter.svg"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-country">
                <ul class="country-list">
                    <li><a href="javascript:void(0)"><img src="/assets/images/flag-sg.svg"></a></li>
                    <li><a href="javascript:void(0)"><img src="/assets/images/flag-my.svg"></a></li>
                    <li><a href="javascript:void(0)"><img src="/assets/images/flag-th.svg"></a></li>
                    <li><a href="javascript:void(0)"><img src="/assets/images/flag-id.svg"></a></li>
                    <li><a href="javascript:void(0)"><img src="/assets/images/flag-ph.svg"></a></li>
                    <li><a href="javascript:void(0)"><img src="/assets/images/flag-vn.svg"></a></li>
                    <li><a href="javascript:void(0)"><img src="/assets/images/flag-hk.svg"></a></li>
                </ul>
            </div>
            <div class="footer-copy">
                <div class="caption">Copyright © 2019. Lendela Sdn Bhd. All rights reserved.</div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-12 mb-4">
                    <h1 class="display-4">Footer mobile</h1>
                </div>
                <div class="col-12 col-md-5 mb-5">

                    <div class="footer -mobile">
                        <div class="footer-nav">
                            <div class="container footer-container">
                                <div class="row">
                                    <div class="col-12 col-md-4 col-address">
                                        <img class="logo" src="/assets/images/lendela-logo.svg">
                                        <address>
                                            <h3 class="display-2">lendela Sdn Bhd</h3>
                                            <p class="body-2">#18-106, Equatorial Plaza Jalan <br>
                                            Sultan Ismail 50250 Kuala Lumpur</p>
                                        </address>
                                    </div>
                                    <div class="col-12 col-md-2 col-nav">
                                        <h3 class="display-2">lendela</h3>
                                        <ul>
                                            <li><a href="javascript:void(0)">Home</a></li>
                                            <li><a href="javascript:void(0)">About us</a></li>
                                            <li><a href="javascript:void(0)">Contact us</a></li>
                                            <li><a href="javascript:void(0)">Blog</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-3 col-nav">
                                        <h3 class="display-2">Policy</h3>
                                        <ul>
                                            <li><a href="javascript:void(0)">Privacy policy</a></li>
                                            <li><a href="javascript:void(0)">Terms of use</a></li>
                                            <li><a href="javascript:void(0)">Acceptable use policy</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-3 col-social">
                                        <h3 class="display-2">Stay in touch</h3>
                                        <ul class="social-list">
                                            <li><a href="javascript:void(0)"><img src="/assets/images/icon-facebook.svg"></a></li>
                                            <li><a href="javascript:void(0)"><img src="/assets/images/icon-linkedin.svg"></a></li>
                                            <li><a href="javascript:void(0)"><img src="/assets/images/icon-twitter.svg"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-country">
                            <ul class="country-list">
                                <li><a href="javascript:void(0)"><img src="/assets/images/flag-sg.svg"></a></li>
                                <li><a href="javascript:void(0)"><img src="/assets/images/flag-my.svg"></a></li>
                                <li><a href="javascript:void(0)"><img src="/assets/images/flag-th.svg"></a></li>
                                <li><a href="javascript:void(0)"><img src="/assets/images/flag-id.svg"></a></li>
                                <li><a href="javascript:void(0)"><img src="/assets/images/flag-ph.svg"></a></li>
                                <li><a href="javascript:void(0)"><img src="/assets/images/flag-vn.svg"></a></li>
                                <li><a href="javascript:void(0)"><img src="/assets/images/flag-hk.svg"></a></li>
                            </ul>
                        </div>
                        <div class="footer-copy">
                            <div class="caption">Copyright © 2019. Lendela Sdn Bhd. All rights reserved.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
