<template>
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="display-4">Form</h1>
        </div>
        <div class="col-12 col-md-3 mb-5">
            <h2 class="display-3">Text Fields</h2>
            <div class="text-field">
                <div class="input-control">
                    <label>Label</label>
                    <input type="text" disabled/>
                </div>
                <div class="input-detail">
                    <div class="message"><i class="fa fa-info-circle"></i> Assistive text</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-5">
            <h2 class="display-3">Focus</h2>
            <div class="text-field -focus">
                <div class="input-control">
                    <label>Label</label>
                    <input type="text" value="I'm a text field"/>
                </div>
                <div class="input-detail">
                    <div class="message"><i class="fa fa-info-circle"></i> Assistive text</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-5">
            <h2 class="display-3">Error</h2>
            <div class="text-field -focus -error">
                <div class="input-control">
                    <label>Label</label>
                    <input type="text" value="I'm a text field"/>
                </div>
                <div class="input-detail">
                    <div class="message">Error message</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-5">
            <h2 class="display-3">Disabled</h2>
            <div class="text-field -focus -disabled">
                <div class="input-control">
                    <label>Label</label>
                    <input type="text" value="I'm a text field" disabled/>
                </div>
                <div class="input-detail">
                    <div class="message">Error message</div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 mb-5">
            <h2 class="display-3">Select</h2>
            <div class="select">
                <div class="input-control">
                    <label>Label</label>
                    <input type="text" disabled/>
                </div>
                <div class="input-detail">
                    <div class="message"><i class="fa fa-info-circle"></i> Assistive text</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-5">
            <h2 class="display-3">Focus</h2>
            <div class="select -focus">
                <div class="input-control">
                    <label>Label</label>
                    <input type="text" value="Select menu"/>
                </div>
                <div class="input-detail">
                    <div class="message"><i class="fa fa-info-circle"></i> Assistive text</div>
                </div>
                <div class="select-list">
                  <div class="select-list-item"><a href="javascript:void(0)">Foo</a></div>
                  <div class="select-list-item"><a href="javascript:void(0)">Bar</a></div>
                  <div class="select-list-item"><a href="javascript:void(0)">Fizz</a></div>
                  <div class="select-list-item"><a href="javascript:void(0)">Buzz</a></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-5">
            <h2 class="display-3">Error</h2>
            <div class="select -focus -error">
                <div class="input-control">
                    <label>Label</label>
                    <input type="text" value="Select menu" disabled/>
                </div>
                <div class="input-detail">
                    <div class="message">Error message</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-5">
            <h2 class="display-3">Disabled</h2>
            <div class="select -focus -disabled">
                <div class="input-control">
                    <label>Label</label>
                    <input type="text" value="Select menu" disabled/>
                </div>
                <div class="input-detail">
                    <div class="message">Error message</div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5"></div>
        <div class="col-12 mb-5"></div>
        <div class="col-12 mb-5"></div>
        <div class="col-12 mb-3"><h2 class="display-3">Check Box</h2></div>
        <div class="col-12 col-md-6 mb-5">
            <div class="checkbox">
                <input type="checkbox" id="checkbox1" />
                <label for="checkbox1">By proceeding you are agreeing to our <a href="javascript:void(0)">Terms</a> & <a href="javascript:void(0)">Privacy policy</a>.</label>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-5">
            <div class="checkbox">
                <input type="checkbox" id="checkbox2" checked />
                <label for="checkbox2">By proceeding you are agreeing to our <a href="javascript:void(0)">Terms</a> & <a href="javascript:void(0)">Privacy policy</a>.</label>
            </div>
        </div>
        
        <div class="col-12 mt-5 mb-3"><h2 class="display-3">Text field and Select in action</h2></div>

        <div class="col-12 col-md-3 md-5 md-scope">
            <md-field>
                <label>Label</label>
                <md-input v-model="value"></md-input>
            </md-field>
        </div>

        <div class="col-12 col-md-3 md-5 md-scope">
            <md-field>
                <label for="select">Label</label>
                <md-select v-model="selectValue" name="select" id="select">
                    <md-option value="Foo">Foo</md-option>
                    <md-option value="Bar">Bar</md-option>
                    <md-option value="Fizz">Fizz</md-option>
                    <md-option value="Buzz">Buzz</md-option>
                </md-select>
            </md-field>
        </div>
      </div>

    </div>
</template>

<script>
import Vue from 'vue'
import VueMaterial from 'vue-material'
Vue.use(VueMaterial)

export default {
    data() {
        return {
            value: '',
            selectValue: '',
        }
    },
    components:{
    }
}
</script>
<style lang="scss">
@import "../sass/base/_variable.scss";
:root{
    --md-theme-default-primary: $color-primary;
    --md-theme-default-primary-on-background: $color-primary;
}
.md-scope{
    @import "../../node_modules/vue-material/dist/theme/default";
    @import "../../node_modules/vue-material/dist/components/MdField/index";
    @import "../../node_modules/vue-material/dist/components/MdList/index";

    .md-icon.md-theme-default.md-icon-font{
        color: $color-primary;
    }
    .md-icon.md-theme-default.md-icon-image svg{
        fill: $color-primary;
    }
    .md-field:before{
        display: none;
    }
    .md-field:after{
        height: auto;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0) !important;
        border: 2px solid $color-gray-light;
        pointer-events: none;
    }
    .md-field{
        padding: 0.5em 0;
    }
    .md-field label{
        left: 1em;
        top: 0.9em;
    }
    .md-field.md-focused label, 
    .md-field.md-has-value label{
        left: 1em;
        top: -0.85em;
        z-index: 5;
        background: #fff;
        padding: 0 0.3em;
        color: $color-gray-dark !important;
        font-size: 0.9em;
    }
    .md-field .md-input, 
    .md-field .md-textarea{
        padding: 0 1em;
    }
}   

//Custom Material
.md-scrollbar.md-theme-default::-webkit-scrollbar-corner,
.md-scrollbar.md-theme-default::-webkit-scrollbar-track{
    background:#e1e1e1;
}
.md-scrollbar.md-theme-default::-webkit-scrollbar-thumb{
    background:#757575;
}
.md-menu-content{
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    min-width: 112px;
    max-width: 280px;
    max-height: 35vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 4;
    border-radius: 2px;
}
.md-menu-content.md-select-menu{
    z-index: 5;
    width: 100%;
}
.md-menu-content-container{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;   
}
.md-list.md-theme-default {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    .md-list-item-container{
        color: #000;
        font-size: 1em;
        padding: 0;
        width: 100%;
        text-align: left;
    }
    .md-list-item-content{
        display: block;
        padding: 1em;
        color: #000;
        transition: all 0.3s ease;
        text-decoration: none;
        font-size: 1.14em;
        &:hover{
            background: $color-gray-lighten;
        }
    }
    .md-selected .md-list-item-content,
    .router-link-active .md-list-item-content{
        color: $color-primary;
    }
    
}
</style>