<template>
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="display-4">Icons</h1>
        </div>

        <div class="col-12 mb-4">
          <h1 class="display-3">Icons outline</h1>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-5 text-center" v-for="icon in icons" :key="icon">
            <a target="_blank" :href="`/assets/icon-outline/${icon}-outline.svg`" :download="`${icon}-outline.svg`"><img :src="`/assets/icon-outline/${icon}-outline.svg`"></a>
            <div class="caption">{{`${icon}-outline.svg`}}</div>
        </div>

        <div class="col-12 my-5"></div>

         <div class="col-12 mb-4">
          <h1 class="display-3">Icons color</h1>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-5 text-center" v-for="icon in icons" :key="`color-${icon}`">
            <a target="_blank" :href="`/assets/icon-color/${icon}.svg`" :download="`${icon}.svg`"><img :src="`/assets/icon-color/${icon}.svg`"></a>
            <div class="caption">{{`${icon}.svg`}}</div>
        </div>

      </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            icons: [
                'analytics',
                'clock',
                'mortgage',
                'atm',
                'cloud',
                'payment-method',
                'attached',
                'credit-card',
                'percentage',
                'bank-2',
                'employee',
                'safe-box',
                'bank-online',
                'folder',
                'stamp',
                'banking',
                'growth',
                'startup',
                'big-data',
                'idea',
                'target',
                'bill',
                'insurance',
                'tax',
                'binders',
                'invoice',
                'time-management',
                'briefcase',
                'key',
                'transfer',
                'building',
                'legal',
                'trophy',
                'calculator',
                'lightbulb',
                'wallet',
                'chart',
                'mobile',
                'checklist',
                'money',
            ]
        }
    }
}
</script>
