<template>
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="display-4">List</h1>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <ul class="list-brand">
                <li>Get your tailored offers in 2 minutes</li>
                <li>Borrow up to RM500,000</li>
                <li>Compare and choose</li>
                <li>100% free of charge</li>
            </ul>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <ul class="list-brand -sm">
                <li>Get your tailored offers in 2 minutes</li>
                <li>Borrow up to RM500,000</li>
                <li>Compare and choose</li>
                <li>100% free of charge</li>
            </ul>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <ul class="list">
                <li><a href="javascript:void(0)">Personal Finance</a></li>
                <li><a href="javascript:void(0)">Personal Loan</a></li>
                <li><a href="javascript:void(0)">Lifestyle</a></li>
                <li><a href="javascript:void(0)">Financial Advice</a></li>
                <li><a href="javascript:void(0)">Finance News</a></li>
            </ul>
        </div>
      </div>
    </div>
</template>
