<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 d-none d-md-block">
                    <h1 class="display-4 mb-5">Logo slider</h1>
                    <div class="logo-slider">
                        <h5 class="title">Our regional partners</h5>
                        <div class="logo-container">
                            <div class="logo-item"><img src="/assets/images/logo/logo-1.png" /></div>
                            <div class="logo-item"><img src="/assets/images/logo/logo-2.png" /></div>
                            <div class="logo-item"><img src="/assets/images/logo/logo-3.png" /></div>
                            <div class="logo-item"><img src="/assets/images/logo/logo-4.png" /></div>
                            <div class="logo-item"><img src="/assets/images/logo/logo-5.png" /></div>
                            <div class="logo-item"><img src="/assets/images/logo/logo-6.png" /></div>
                            <div class="logo-item"><img src="/assets/images/logo/logo-7.png" /></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-12">
                    <h1 class="display-4 mb-5">Logo slider Mobile</h1>
                </div>
                <div class="col-12 col-md-8 col-lg-4 mb-3">
                    
                    <div class="logo-slider -mobile">
                        <h5 class="title">Our regional partners</h5>
                        <swiper :options="swiperOption" ref="logoSwiper">
                            <swiper-slide class="slide-item"><img src="/assets/images/logo/logo-1.png" /></swiper-slide>
                            <swiper-slide class="slide-item"><img src="/assets/images/logo/logo-2.png" /></swiper-slide>
                            <swiper-slide class="slide-item"><img src="/assets/images/logo/logo-3.png" /></swiper-slide>
                            <swiper-slide class="slide-item"><img src="/assets/images/logo/logo-4.png" /></swiper-slide>
                            <swiper-slide class="slide-item"><img src="/assets/images/logo/logo-5.png" /></swiper-slide>
                            <swiper-slide class="slide-item"><img src="/assets/images/logo/logo-6.png" /></swiper-slide>
                            <swiper-slide class="slide-item"><img src="/assets/images/logo/logo-7.png" /></swiper-slide>
                        </swiper>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
    components: {
        swiper,
        swiperSlide,
    },
    data() {
        return {
            swiperOption: {
                slidesPerView: 'auto',
                spaceBetween: 60,
                autoplay:{
                    delay: 3000,
                },
            }
        }
    },
    computed: {
      swiper() {
        return this.$refs.logoSwiper.swiper
      }
    },
}
</script>
