<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h1 class="display-4">Main Navigation</h1>
                </div>
            </div>
        </div>

        <div class="my-5"></div>

        <div class="main-nav">
            <div class="container nav-container">
                <a class="nav-brand mr-auto" href="#">
                    <img class="logo" src="/assets/images/lendela-logo.svg">
                </a>
                <nav>
                    <a href="javascript:void(0)"><i class="fa fa-globe"></i> Bahasa Malaysia</a>
                    <a href="javascript:void(0)">About</a>
                    <a href="javascript:void(0)">Contact</a>
                    <a href="javascript:void(0)" class="btn -outline -sm">Login</a>
                </nav>
                <button class="nav-toggler" >
                    <span class="bar"></span>
                </button>
            </div>
        </div>

        <div class="my-5"></div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-12 mb-4">
                    <h1 class="display-4">Main Navigation mobile</h1>
                </div>
                <div class="col-12 col-md-5 mb-5">

                    <div class="main-nav -mobile">
                        <div class="container nav-container">
                            <a class="nav-brand mr-auto" href="#">
                                <img class="logo" src="/assets/images/lendela-logo.svg">
                            </a>
                            <nav>
                                <a href="javascript:void(0)"><i class="fa fa-globe"></i> Bahasa Malaysia</a>
                                <a href="javascript:void(0)">About</a>
                                <a href="javascript:void(0)">Contact</a>
                                <a href="javascript:void(0)" class="btn -outline -sm">Login</a>
                            </nav>
                            <button class="nav-toggler" >
                                <span class="bar"></span>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-12"></div>

                <div class="col-12 col-md-5 mb-5">

                    <div class="main-nav -mobile -open-menu">
                        <div class="container nav-container">
                            <a class="nav-brand mr-auto" href="#">
                                <img class="logo" src="/assets/images/lendela-logo.svg">
                            </a>
                            <nav>
                                <a href="javascript:void(0)"><i class="fa fa-globe"></i> Bahasa Malaysia</a>
                                <a href="javascript:void(0)">About</a>
                                <a href="javascript:void(0)">Contact</a>
                                <a href="javascript:void(0)" class="btn -outline -sm">Login</a>
                            </nav>
                            <button class="nav-toggler" >
                                <span class="bar"></span>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        


    </div>
</template>
