<template>
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="display-4">Navigation vertical</h1>
        </div>
        <div class="col-12 col-md-3 mb-4">
           <ul class="nav-vertical">
               <li>
                   <a class="nav-vertical-link" href="javascript:void(0)">What a Personal Loan is?</a>
               </li>
               <li>
                   <a class="nav-vertical-link" href="javascript:void(0)">How a Personal Loan Works?</a>
               </li>
               <li>
                   <a class="nav-vertical-link" href="javascript:void(0)">How long till my loan gets disbursed?</a>
               </li>
           </ul>
        </div>
      </div>
    </div>
</template>
