<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1 class="display-4">Offers Detail</h1>
                </div>
            </div>
        </div>
        <div class="offers-detail-wrapper mb-5">
            <div class="offer-detail">
                <a href="javascript:void(0)" class="close"><img src="/assets/images/icon-close.svg"></a>
                <div class="offer-detail-container">
                    <div class="header">
                        <div class="offeror">
                            <div class="logo">
                                <img src="/assets/images/offer-logo-01.svg" />
                            </div>
                            <div class="name">Personal Loan</div>
                        </div>
                        <div class="loan">
                            <div class="label">Loan amount</div>
                            <div class="amount"><span class="currency">S$</span>10,000</div>
                        </div>
                    </div>
                    <div class="panel-container">
                        <div class="panel monthly-cost">
                            <div class="label">Monthly cost</div>
                            <div class="amount">
                                <span class="currency">S$</span>151
                            </div>
                        </div>

                        <div class="panel interest-rate">
                            <div class="label">Interest Rate</div>
                            <div class="amount">3.8<span class="percent">%</span></div>
                        </div>

                        <div class="panel tenure">
                            <div class="label">Tenure</div>
                            <div class="amount">5</div>
                        </div>

                        <div class="panel effective-interest">
                            <div class="label">Effective interest</div>
                            <div class="amount">10.74<span class="percent">%</span></div>
                        </div>

                        <div class="panel annual-fee">
                            <div class="label">Annual fee</div>
                            <div class="amount"><span class="currency">S$</span>88</div>
                            <div class="meta caption"><i class="fa fa-info-circle"></i> S$88 (waived)</div>
                        </div>
                        <div class="panel processing-fee">
                            <div class="label">Processing fee</div>
                            <div class="amount"><span class="currency">S$</span>0</div>
                        </div>
                    </div>
                    <div class="detail">
                        <h3 class="display-3">Loan Detail</h3>
                        <div class="content">
                            <img src="/assets/images/offer-banner.png">
                            <p>Apply online to get $88 Cashback, with loans up to 8X your monthly income and up to 7 year loan tenure.</p>
                        </div>
                    </div>

                    <div class="eligibility">
                        <h3 class="display-3">Eligibility</h3>
                        <ul class="eligibility-list">
                            <li class="eligibility-item">Age</li>
                            <li class="eligibility-item">Income</li>
                            <li class="eligibility-item">Current debt</li>
                            <li class="eligibility-item">Employment</li>
                            <li class="eligibility-item">Residency</li>
                            <li class="eligibility-item">Total repayment plans</li>
                            <li class="eligibility-item -uncheck">Vehicle for Cash</li>
                        </ul>
                    </div>
                    
                    <div class="action">
                        <button class="btn -primary">Apply now</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1 class="display-4">Offers Detail Mobile</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="offer-detail -mobile">
                        <a href="javascript:void(0)" class="close"><img src="/assets/images/icon-close.svg"></a>
                        <div class="offer-detail-container">
                            <div class="header">
                                <div class="offeror">
                                    <div class="logo">
                                        <img src="/assets/images/offer-logo-01.svg" />
                                    </div>
                                    <div class="name">Personal Loan</div>
                                </div>
                                <div class="loan">
                                    <div class="label">Loan amount</div>
                                    <div class="amount"><span class="currency">S$</span>10,000</div>
                                </div>
                            </div>
                            <div class="panel-container">
                                <div class="panel monthly-cost">
                                    <div class="label">Monthly cost</div>
                                    <div class="amount">
                                        <span class="currency">S$</span>151
                                    </div>
                                </div>

                                <div class="panel interest-rate">
                                    <div class="label">Interest Rate</div>
                                    <div class="amount">3.8<span class="percent">%</span></div>
                                </div>

                                <div class="panel tenure">
                                    <div class="label">Tenure</div>
                                    <div class="amount">5</div>
                                </div>

                                <div class="panel effective-interest">
                                    <div class="label">Effective interest</div>
                                    <div class="amount">10.74<span class="percent">%</span></div>
                                </div>

                                <div class="panel annual-fee">
                                    <div class="label">Annual fee</div>
                                    <div class="amount"><span class="currency">S$</span>88</div>
                                    <div class="meta caption"><i class="fa fa-info-circle"></i> S$88 (waived)</div>
                                </div>
                                <div class="panel processing-fee">
                                    <div class="label">Processing fee</div>
                                    <div class="amount"><span class="currency">S$</span>0</div>
                                </div>
                            </div>
                            <div class="detail">
                                <h3 class="display-3">Loan Detail</h3>
                                <div class="content">
                                    <img src="/assets/images/offer-banner.png">
                                    <p>Apply online to get $88 Cashback, with loans up to 8X your monthly income and up to 7 year loan tenure.</p>
                                </div>
                            </div>

                            <div class="eligibility">
                                <h3 class="display-3">Eligibility</h3>
                                <ul class="eligibility-list">
                                    <li class="eligibility-item">Age</li>
                                    <li class="eligibility-item">Income</li>
                                    <li class="eligibility-item">Current debt</li>
                                    <li class="eligibility-item">Employment</li>
                                    <li class="eligibility-item">Residency</li>
                                    <li class="eligibility-item">Total repayment plans</li>
                                    <li class="eligibility-item -uncheck">Vehicle for Cash</li>
                                </ul>
                            </div>
                            
                            <div class="action">
                                <button class="btn -primary">Apply now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>