
<template>
    <div class="offers-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1 class="display-4">Offers item</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-12">

                    <div class="offer-item">
                        <div class="message-banner">
                            1 minute approval in principle
                        </div>
                        <div class="offeror">
                            <div class="logo">
                                <img src="/assets/images/offer-logo-01.svg" />
                            </div>
                            <div class="name title">Personal Loan</div>
                        </div>
                        <div class="monthly-cost">
                            <div class="amount">
                                <span class="currency">S$</span>151
                            </div>
                            <div class="label">Monthly cost</div>
                            <div class="detail">over 5 years</div>
                            
                        </div>
                        <div class="interest-tenure">
                            <div class="amount">3.8%</div>
                            <div class="label">Interest Rate</div>
                        </div>
                        <div class="loan">
                            <div class="amount">10,000</div>
                            <div class="label">Loan (S$)</div>
                        </div>
                        <div class="action">
                            <button class="btn -outline -wide">More Detail</button>
                            <button class="btn -primary -outline -wide">Apply now</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">    
                    <div class="offer-item -not-qualified">
                        <div class="offeror">
                            <div class="logo">
                                <img src="/assets/images/offer-logo-02.svg" />
                            </div>
                            <div class="name title">Motorcycle for Cash</div>
                        </div>
                        <div class="eligibility">
                            <ul class="eligibility-list">
                                <li class="eligibility-item">Age</li>
                                <li class="eligibility-item">Income</li>
                                <li class="eligibility-item">Current debt</li>
                                <li class="eligibility-item">Employment</li>
                                <li class="eligibility-item">Residency</li>
                                <li class="eligibility-item">Total repayment plans</li>
                                <li class="eligibility-item -uncheck">Vehicle for Cash</li>
                            </ul>
                        </div>
                        <div class="action">
                            <button class="btn -outline -wide">More Detail</button>
                        </div>
                    </div>
                </div>


                <div class="col-12 mt-5 mb-5">
                    <h1 class="display-4">Offers item mobile</h1>
                </div>

                <div class="col-12 col-md-6 col-lg-4">

                    <div class="offer-item -mobile">
                        <div class="message-banner">
                            1 minute approval in principle
                        </div>
                        <div class="offeror">
                            <div class="logo">
                                <img src="/assets/images/offer-logo-01.svg" />
                            </div>
                            <div class="name title">Personal Loan</div>
                        </div>
                        <div class="monthly-cost">
                            <div class="amount">
                                <span class="currency">S$</span>151
                            </div>
                            <div class="label">Monthly cost</div>
                            <div class="detail">over 5 years</div>
                            
                        </div>
                        <div class="interest-tenure">
                            <div class="amount">3.8%</div>
                            <div class="label">Interest Rate</div>
                        </div>
                        <div class="loan">
                            <div class="amount">10,000</div>
                            <div class="label">Loan (S$)</div>
                        </div>
                        <div class="action">
                            <button class="btn -outline -wide">More Detail</button>
                            <button class="btn -primary -outline -wide">Apply now</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">    
                    <div class="offer-item -mobile -not-qualified">
                        <div class="offeror">
                            <div class="logo">
                                <img src="/assets/images/offer-logo-02.svg" />
                            </div>
                            <div class="name title">Motorcycle for Cash</div>
                        </div>
                        <div class="eligibility">
                            <ul class="eligibility-list">
                                <li class="eligibility-item">Age</li>
                                <li class="eligibility-item">Income</li>
                                <li class="eligibility-item">Current debt</li>
                                <li class="eligibility-item">Employment</li>
                                <li class="eligibility-item">Residency</li>
                                <li class="eligibility-item">Total repayment plans</li>
                                <li class="eligibility-item -uncheck">Vehicle for Cash</li>
                            </ul>
                        </div>
                        <div class="action">
                            <button class="btn -outline -wide">More Detail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>