<template>
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="display-4">Pagination</h1>
        </div>
        <div class="col-12 mb-4">
            <ul class="pagination">
                <li class="page-item -disabled"><a class="page-link" href="javascript:void(0)"><i class="fa fa-chevron-left"></i></a></li>
                <li class="page-item -active"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
</template>