<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h1 class="display-4">Person item</h1>
                </div>
                <div class="col-12 col-md-4 mb-3">

                    <div class="person-item">
                        <div class="thumb">
                            <a class="image" style="background-image: url('/assets/images/person-image@2x.png')" href="javascript:void(0)"></a>
                        </div>
                        <div class="content">
                            <h3 class="display-3">Nima</h3>
                            <div class="subtitle">COO</div>
                            <div class="detail body-2">Nima Karimi is the COO and Co-founder of Lendela. Nima has extensive experience in Insurtech and Fintech, working with business development for more than 10 years. Nima has successfully led the launch of several disruptive consumer products such as an innovative C2C-warranty/insurance for cars, and Zmarta – Nordics largest loan broker and personal finance platform. In recent years Nima has launched products in almost every area of Fintech possible, including credit cards, savings, pensions, PFM-apps, mortgage and SME-financing.</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>
