<template>
    <div class="review-card-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-4 mb-3">
                    <h1 class="display-4 mb-4">Review Card</h1>

                    <div class="review-card">
                        <div class="highlight">
                            <div class="display-3">"Fast, easy"</div>
                        </div>
                        <div class="content">
                            “Fast, easy to understand forms and processes,  friendly customer service.”
                        </div>
                        <div class="profile">
                            <div class="avatar" style="background-image:url('/assets/images/avatar@2x.png');" ></div>
                            <h6 class="name">Dai Fang</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star -disabled"></i>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="col-12 col-md-4 offset-md-3 col-lg-3 offset-lg-3 mb-3">
                    <h1 class="display-4 mb-4">Mobile</h1>
                    
                    <div class="review-card -mobile">
                        <div class="highlight">
                            <div class="display-3">"Fast, easy"</div>
                        </div>
                        <div class="content">
                            “Fast, easy to understand forms and processes,  friendly customer service.”
                        </div>
                        <div class="profile">
                            <div class="avatar" style="background-image:url('/assets/images/avatar@2x.png');" ></div>
                            <h6 class="name">Dai Fang</h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star -disabled"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
