<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1 class="display-4">Review badge</h1>
                </div>
                <div class="col-12 col-md-6 mb-3 p-5">
                    <div class="text-center mb-5">
                        <a href="/assets/images/google-review.svg" download="google-review.svg" target="_blank"><img src="/assets/images/google-review.svg" /></a>
                    </div>
                    <div class="text-center">
                        <a href="/assets/images/facebook-review.svg" download="facebook-review.svg" target="_blank"><img src="/assets/images/facebook-review.svg" /></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 p-5" style="background-color: #ADABA7;">
                    <div class="text-center mb-5">
                        <a href="/assets/images/google-review-white.svg" download="google-review-white.svg" target="_blank"><img src="/assets/images/google-review-white.svg" /></a>
                    </div>
                    <div class="text-center">
                        <a href="/assets/images/facebook-review-white.svg" download="facebook-review-white.svg" target="_blank"><img src="/assets/images/facebook-review-white.svg" /></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
