<template>
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4">
          <h1 class="display-4">Stepper</h1>
        </div>
        <div class="col-12 mb-5">
            <div class="stepper">
                <div class="step -active"><a class="step-link" href="javascript:void(0)"><span class="icon">1</span> <span class="display-2">Personal Details</span></a></div>
                <hr class="step-divider">
                <div class="step"><a class="step-link" href="javascript:void(0)"><span class="icon">2</span> <span class="display-2">Additional Info</span></a></div>
                <hr class="step-divider">
                <div class="step"><a class="step-link" href="javascript:void(0)"><span class="icon">3</span> <span class="display-2">Loan Details</span></a></div>
            </div>
        </div>

        <div class="col-12 mb-5">
            <div class="stepper">
                <div class="step -complete"><a class="step-link" href="javascript:void(0)"><span class="icon">1</span> <span class="display-2">Personal Details</span></a></div>
                <hr class="step-divider">
                <div class="step -active"><a class="step-link" href="javascript:void(0)"><span class="icon">2</span> <span class="display-2">Additional Info</span></a></div>
                <hr class="step-divider">
                <div class="step"><a class="step-link" href="javascript:void(0)"><span class="icon">3</span> <span class="display-2">Loan Details</span></a></div>
            </div>
        </div>

        <div class="col-12 mb-5">
            <div class="stepper">
                <div class="step -complete"><a class="step-link" href="javascript:void(0)"><span class="icon">1</span> <span class="display-2">Personal Details</span></a></div>
                <hr class="step-divider">
                <div class="step -complete"><a class="step-link" href="javascript:void(0)"><span class="icon">2</span> <span class="display-2">Additional Info</span></a></div>
                <hr class="step-divider">
                <div class="step -active"><a class="step-link" href="javascript:void(0)"><span class="icon">3</span> <span class="display-2">Loan Details</span></a></div>
            </div>
        </div>

        <div class="col-12 mb-4">
          <h1 class="display-4">Stepper mobile</h1>
        </div>

        <div class="col-12 col-md-3 mb-5">
            <div class="stepper -mobile">
                <div class="step -active"><a class="step-link" href="javascript:void(0)"><span class="icon">1</span> <span class="display-2">Personal Details</span></a></div>
                <hr class="step-divider">
                <div class="step"><a class="step-link" href="javascript:void(0)"><span class="icon">2</span> <span class="display-2">Additional Info</span></a></div>
                <hr class="step-divider">
                <div class="step"><a class="step-link" href="javascript:void(0)"><span class="icon">3</span> <span class="display-2">Loan Details</span></a></div>
            </div>
        </div>
        <div class="col-12"></div>
        <div class="col-12 col-md-3 mb-5">
            <div class="stepper -mobile">
                <div class="step -complete"><a class="step-link" href="javascript:void(0)"><span class="icon">1</span> <span class="display-2">Personal Details</span></a></div>
                <hr class="step-divider">
                <div class="step -active"><a class="step-link" href="javascript:void(0)"><span class="icon">2</span> <span class="display-2">Additional Info</span></a></div>
                <hr class="step-divider">
                <div class="step"><a class="step-link" href="javascript:void(0)"><span class="icon">3</span> <span class="display-2">Loan Details</span></a></div>
            </div>
        </div>
        <div class="col-12"></div>
        <div class="col-12 col-md-3 mb-5">
            <div class="stepper -mobile">
                <div class="step -complete"><a class="step-link" href="javascript:void(0)"><span class="icon">1</span> <span class="display-2">Personal Details</span></a></div>
                <hr class="step-divider">
                <div class="step -complete"><a class="step-link" href="javascript:void(0)"><span class="icon">2</span> <span class="display-2">Additional Info</span></a></div>
                <hr class="step-divider">
                <div class="step -active"><a class="step-link" href="javascript:void(0)"><span class="icon">3</span> <span class="display-2">Loan Details</span></a></div>
            </div>
        </div>

      </div>
    </div>
</template>
