<template>
  <div class="container">
      <div class="row">
        <div class="col-12 mt-5 mb-4">
          <h1 class="display-4">Typography</h1>
        </div>
        <div class="col-12 col-sm-2">
          <div class="box">
            <div>.display-4</div>
          </div>
        </div>
        <div class="col-12 col-sm-10 mb-5">
          <div class="display-4"> DISPLAY TEXT / Baloo Regular / 36px / uppercase</div>
          <div class="display-4 lang-th"> รับข้อเสนอสินเชื่อ / Mitr Medium / 35px</div>
          <div class="display-4 lang-zh"> 貸款優惠 / Noto Sans HK Black / 33px</div>  
        </div>

        <div class="col-12 col-sm-2"><span>.display-3</span></div>
        <div class="col-12 col-sm-10 mb-5">
          <div class="display-3"> Sub display / Baloo Regular / 24px</div>
          <div class="display-3 lang-th">รับข้อเสนอสินเชื่อ / Mitr Medium / 23px</div>
          <div class="display-3 lang-zh">貸款優惠 / Noto Sans HK Black / 21px</div>  
        </div>

        <div class="col-12 col-sm-2"><span>.display-2</span></div>
        <div class="col-12 col-sm-10 mb-5">
          <div class="display-2">Heading display text / Baloo Regular / 16px</div>
          <div class="display-2 lang-th">รับข้อเสนอสินเชื่อ / Mitr Medium / 15px</div>
          <div class="display-2 lang-zh">貸款優惠 / Noto Sans HK Black / 14px</div>  
        </div>

        <div class="col-12 col-sm-2"><span>.display-1</span></div>
        <div class="col-12 col-sm-10 mb-5">
          <div class="display-1">Heading / Open Sans Bold / 24px</div>
          <div class="display-1 lang-th">รับข้อเสนอสินเชื่อ / Open Sans Bold / 24px</div>
          <div class="display-1 lang-zh">貸款優惠 / Open Sans Bold / 24px</div>  
        </div>

        <div class="col-12 col-sm-2"><span>.headline</span></div>
        <div class="col-12 col-sm-10 mb-5">
          <div class="headline">Sub Heading / Open Sans Bold / 20px</div>
          <div class="headline lang-th">รับข้อเสนอสินเชื่อ / Open Sans Bold / 20px</div>
          <div class="headline lang-zh">貸款優惠 / Open Sans Bold / 20px</div>  
        </div>

        <div class="col-12 col-sm-2"><span>.title</span></div>
        <div class="col-12 col-sm-10 mb-5">
          <div class="title">Content heading / Open Sans Bold / 16px </div>
          <div class="title lang-th">รับข้อเสนอสินเชื่อ / Open Sans Bold / 16px </div>
          <div class="title lang-zh">貸款優惠  / Open Sans Bold / 16px </div>  
        </div>

        <div class="col-12 col-sm-2"><span>.subtitle-1</span></div>
        <div class="col-12 col-sm-10 mb-5">
          <div class="subtitle-1">Content sub heading / Open Sans Bold / 14px</div>
          <div class="subtitle-1 lang-th">รับข้อเสนอสินเชื่อ / Open Sans Bold / 14px</div>
          <div class="subtitle-1 lang-zh">貸款優惠 / Open Sans Bold / 14px</div>  
        </div>

        <div class="col-12 col-sm-2"><span>.body-1</span></div>
        <div class="col-12 col-sm-10 mb-5">
          <div class="body-1">Content / Open Sans Regular / 16px</div>
          <div class="body-1 lang-th">รับข้อเสนอสินเชื่อ / Open Sans Regular / 16px</div>
          <div class="body-1 lang-zh">貸款優惠 / Open Sans Regular / 16px</div>  
        </div>

        <div class="col-12 col-sm-2"><span>.body-2</span></div>
        <div class="col-12 col-sm-10 mb-5">
          <div class="body-2">Content 2 / Open Sans Regular / 14px</div>
          <div class="body-2 lang-th">รับข้อเสนอสินเชื่อ / Open Sans Regular / 14px</div>
          <div class="body-2 lang-zh">貸款優惠 / Open Sans Regular / 14px</div>  
        </div>

        <div class="col-12 col-sm-2"><span>.caption</span></div>
        <div class="col-12 col-sm-10 mb-5">
          <div class="caption">Meta / Open Sans Regular / 12px</div>
          <div class="caption lang-th">รับข้อเสนอสินเชื่อ  / Open Sans Regular / 12px</div>
          <div class="caption lang-zh">貸款優惠 / Open Sans Regular / 12px</div>  
        </div>
      </div>

  </div>
</template>

<script>
export default {
  data: () => ({
    
  }),
};
</script>
