.about-page{
    .about-content{
        >.header{
            border-bottom: 1px solid $color-gray-light;
            padding-bottom: 1em;
            margin-bottom: 2em;
            >.title{
                font-size: 1.7em;
                font-family: $body-font-family;
                text-transform: uppercase;
                line-height: 1.4em;
                min-height: 2.8em;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                >.new-line{
                    display: block;
                }
            }
        }
        >.content{
            color: $color-gray-dark;
            strong{
                font-weight: bold;
            }
        }
        >.review{
            margin-top: 3em;
            >a{
                display: inline-block;
                margin-right: 3em;
                >img{
                    opacity: 0.7;
                }
                >.google-review{
                    max-width: 100px;
                }
                >.facebook-review{
                    max-width: 110px;
                }
            }
        }
    }
    @mixin about-page-mobile() {
        .about-content{
            margin-bottom: 3em;
            >.header{
                >.title{
                    font-size: 1.4em;
                }
            }
            >.review{
                text-align: center;
                >a{
                    margin-right: 1.5em;
                    margin-left: 1.5em;

                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        @include about-page-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include about-page-mobile();
    }
    
    
}