.accordion{
    border-bottom: 1px solid $color-gray-light;
    .accordion-header{
        .accordion-header-button{
            position: relative;
            padding: 0.65em 30px 0.65em 0;
            display: block;
            width: 100%;
            text-align: left;
            outline: none;
            cursor: pointer;
            &::before{
                content: "\f077";
                font-family: "Font Awesome 5 Pro";
                font-weight: 900;
                font-size: 0.8em;
                right: 0.8em;
                top: 50%;
                margin-top: -0.8em;
                position: absolute;
                color: $color-primary;
            }
        }
    }
    .accordion-content{
        color: $color-gray-dark;
    }
    &.-collapse{
        .accordion-header{
            .accordion-header-button{
                &::before{
                    content: "\f078";
                }
            }
        }
        >.accordion-content{
            display: none;
        }
    }
}