button{
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
.btn{
    display: inline-block;
    font-size: 1.14em;
    color: $color-primary;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.4em 1em;
    font-family: $heading-font-family;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    text-transform: uppercase;
    >i.fa{
        margin-right: 0.5em;
    }
    &.-sm{
        font-size: 1em;
        padding: 0.3em 1em;
    }
    &.-lg{
        font-size: 1.7em;
        padding: 0.4em 1em;
    }
    &.-outline{
        background: transparent;
        color: $color-primary;
        border-color: $color-primary;
        &:hover,
        &.-hover{
            background: #ECF8EC;
        }
        &:active,
        &.-active{
            background: #C6E9C8;
        }
        &[disabled],
        &.-disabled{
            pointer-events: none;
            color: $color-gray;
            background: $color-gray-light;
            border-color: $color-gray-light;
        }
    }
    &.-primary{
        color: #fff;
        background: $color-primary;
        border-color: $color-primary;
        &:hover,
        &.-hover{
            background: #47C64E;
            border-color: #47C64E;
        }
        &:active,
        &.-active{
            background: $color-primary-light;
            border-color: $color-primary-light;
        }
        &[disabled],
        &.-disabled{
            pointer-events: none;
            color: $color-gray;
            background: $color-gray-light;
            border-color: $color-gray-light;
        }
    }
    &.-loading{
        pointer-events: none;
    }
    &.-wide{
        width: 100%;
        text-align: center;
    }
    
}