.calculate-panel{
    .calculate-panel-header{
        margin-bottom: 1em;
        position: relative;
        .icon-arrow{
            position: absolute;
            width: 0;
            height: 0;
            border-left: 1.6em solid transparent;
            border-right: 1.6em solid transparent;
            border-top: 2em solid $color-secondary;
            z-index: 10;
            right: 18%;
            top: 1.4em;
            &::before{
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-left: 1.6em solid transparent;
                border-right: 1.6em solid transparent;
                border-top: 2em solid $color-secondary-light;
                position: absolute;
                left: -1.6em;
                top: -3.3em;
                z-index: 11;
            }
        }
    }
    .calculate-panel-container{
        background: #fff;
        border: 2px solid $color-primary;
        border-radius: 0 2em 0 0;
        padding: 2em;
        position: relative;
        z-index: 1;
        box-shadow: 1em 1em 0 $color-primary;
        margin-bottom: 2em;
        .slide-wrapper{
            float: left;
            width: 60%;
            padding-right: 2em;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 0.5em;
                bottom: 1.5em;
                right: 0;
                border-right: 1px solid $color-gray-light;
            }
            .slide-container{
                margin-bottom: 1.5em;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .monthly-loan-cost{
            float: right;
            width: 40%;
            text-align: center;
            padding-left: 1.5em;
            padding-top: 5%;
            >.label{
                margin-bottom: 0.5em;
            }
            >.value{
                color: $color-primary;
            }
        }
        .action{
            float: right;
            width: 40%;
            text-align: center;
            padding-left: 1.5em;
            margin-top: 1em;
            button.btn{
                font-size: 1.5em;
                @media screen and (max-width: 1200px) {
                    font-size: 1.2em;
                }
            }
        }
        .caption{
            float: none;
            clear: both;
            color: $color-gray-dark;
            text-align: center;
            line-height: 1.3em;
            padding-top: 0.5em;
        }
        .currency{
            color: $color-gray;
            font-size: 0.6em;
        }
    }
    .slide-container{
        .label-header,
        .label-footer{
            display: flex;
            margin: 0.8em 0;
            align-items: center;
            >.label-left,
            >.label-right{
                flex-grow: 1;
            }
            >.label-right{
                text-align: right;
            }
        }
        .label-header{
            margin-top: 0;
            >.label-right{
                color: $color-primary;
            } 
        }
        .label-footer{
            color: $color-gray-dark;
            font-size: 0.85em;
        }
    }

    @mixin calculate-panel-mobile() {
        .calculate-panel-header{
            .icon-arrow{
                right: 3em;
            }
        }
        .calculate-panel-container{
            box-shadow: 0.6em 0.6em 0 $color-primary;
            .slide-wrapper{
                float: none;
                width: 100%;
                padding: 0;
                &::before{
                    display: none;
                }
            }
            .monthly-loan-cost{
                float: none;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0 1em;
                margin-bottom: 1em;
                border-bottom: 1px solid $color-gray-light;
                >.label{
                    max-width: 80px;
                    line-height: 1.2em;
                    text-align: left;
                    margin-bottom: 0;
                }
                >.value{
                    text-align: right;
                    font-size: 2.8em;
                    flex-grow: 1;
                }
            }
            .action{
                float: none;
                width: 100%;
                padding: 0;
                margin-top: 1em;
                margin-bottom: 1em;
                >button.btn{
                    width: 100%;
                    font-size: 1.5em;
                }
            }
            .slide-container{
                .label-header > .label-right{
                    font-size: 1.4em;
                }
                .label-footer{
                    font-size: 1em;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        @include calculate-panel-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include calculate-panel-mobile();
    }
}



/* START vue-slider-component style */
.vue-slider-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* rail style */
  .vue-slider-rail {
    background-color: $color-gray-light;
    border-radius: 15px;
  }
  
  /* process style */
  .vue-slider-process {
    background-color: $color-primary;
    border-radius: 15px;
  }
  
  /* mark style */
  .vue-slider-mark {
    z-index: 4;
  }
  .vue-slider-mark:first-child .vue-slider-mark-step, .vue-slider-mark:last-child .vue-slider-mark-step {
    display: none;
  }
  .vue-slider-mark-step {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.16);
  }
  .vue-slider-mark-label {
    font-size: 14px;
    white-space: nowrap;
  }
  /* dot style */
  .vue-slider-dot-handle {
    cursor: pointer;
    width: 250%;
    height: 250%;
    margin-top: -85%;
    margin-left: -85%;
    border-radius: 50%;
    background-color: $color-primary;
    box-sizing: border-box;
  }
  .vue-slider-dot-handle-focus {
    box-shadow: 0px 0px 1px 2px rgba(52, 152, 219, 0.36);
  }
  
  .vue-slider-dot-handle-disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }
  
  .vue-slider-dot-tooltip-inner {
    font-size: 14px;
    white-space: nowrap;
    padding: 2px 5px;
    min-width: 20px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border-color: $color-primary;
    background-color: $color-primary;
    box-sizing: content-box;
  }
  .vue-slider-dot-tooltip-inner::after {
    content: "";
    position: absolute;
  }
  .vue-slider-dot-tooltip-inner-top::after {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-top-color: inherit;
  }
  .vue-slider-dot-tooltip-inner-bottom::after {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-bottom-color: inherit;
  }
  .vue-slider-dot-tooltip-inner-left::after {
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-left-color: inherit;
  }
  .vue-slider-dot-tooltip-inner-right::after {
    right: 100%;
    top: 50%;
    transform: translate(0, -50%);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-right-color: inherit;
  }
  
  .vue-slider-dot-tooltip-wrapper {
    opacity: 0;
    transition: all 0.3s;
  }
  .vue-slider-dot-tooltip-wrapper-show {
    opacity: 1;
  }
  
/* END vue-slider-component style */
