.content-item{
    margin-bottom: 1em;
    .thumb{
        margin-bottom: 1em;
        >.image{
            display: block;
            padding-top: 63%;
            border-radius: 10px;
            background: $color-gray-light no-repeat center center;
            background-size: cover;
        }
    }
    .content{
        >.title{
            line-height: 1.4em;
            margin-bottom: 0.6em;
            >a{
                color: #000;
                transition: all 0.3s ease;
                &:hover{
                    color: $color-primary;
                }
            }
        }
        >.detail{
            display: none;
        }
        >.meta{
            color: $color-gray-dark;
        }
    }
    &.-horizontal{
        display: flex;
        .thumb{
            flex: 1 40%;
        }
        .content{
            flex: 1 60%;
            padding-left: 2em;
            >.title{
                font-size: 1.4em;
            }
            >.detail{
                display: block;
                color: $color-gray-dark;
                margin-bottom: 1em;
                overflow: hidden;
                max-height: 6.4em;
            }
        }
    }
    @mixin content-item-mobile() {
        &.-horizontal{
            display: block;
            .content{
                padding-left: 0;
                >.title{
                    font-size: 1.14em;
                }
                >.detail{
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        @include content-item-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include content-item-mobile();
    }
}