.content-side-menu{
    margin-bottom: 1.6em;
    >li{
        border-bottom: 1px solid $color-gray-light;
        >a{
            display: block;
            font-weight: bold;
            font-size: 1em;
            color: $color-primary;
            text-decoration: none;
            padding: 1em 0;
            position: relative;
        }
        &.active{
            >a{
                color: #000;
            }
        }
    }
    @mixin content-side-menu-mobile() {
        margin-bottom: 3em;
        >li{
            >a{
                padding-right: 30px;
                &::before{
                    content: "\F078";
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 900;
                    font-size: 1em;
                    right: 0.8em;
                    top: 50%;
                    margin-top: -0.8em;
                    position: absolute;
                    color: $color-primary;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        @include content-side-menu-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include content-side-menu-mobile();
    }
}