.contact-page{
    .contact-header-wrapper{
        @media screen and (max-width: 992px) {
            font-size: 12px;
        }
    }
    .contact-header{
        font-size: 4em;
        color: $color-primary;
    }
    .contact-line-1{
        font-size: 2.57em;
    }
    .contact-line-2{
        font-size: 1.78em;
    }
    .contact-line-3{
        font-size: 1.78em;
        color: $color-primary;
    }
    .col-contact-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-info-item{
        >.label{
            color: $color-gray;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 0.8em;
            >i{
                margin-right: 0.4em;
            }
        }
        >.content{
            font-size: 2.57em;
            color: $color-primary;
            font-family: $heading-font-family;
        }
        >address{
            color: $color-gray-dark;
            >.display-2{
                color: #000;
            }
        }
    }

    @mixin content-page-mobile() {
        .contact-header-wrapper{
            text-align: center;
            .contact-header{
                font-size: 2em;
            }
            .contact-line-1{
                font-size: 2em;
            }
            .contact-line-2{
                font-size: 1.2em;
            }
            .contact-line-3{
                font-size: 1.2em;
            }
        }
        .contact-info-item{
            text-align: center;
            >.label{
                margin-bottom: 0.6em;
            }
            >.content{
                font-size: 1.7em;
            }
        }
        .contact-form{
            button{
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 992px) {
        @include content-page-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include content-page-mobile();
    }
}

