.content-card{
    padding: 2em;
    margin-bottom: 2em;
    border: 2px solid $color-gray-light;
    >.header{
        padding-bottom: 1em;
        margin-bottom: 0.6em;
        border-bottom: 1px solid $color-gray-light;
        >.back-top-top{
            display: none;
        }
    }
    >.detail{
        padding: 0.6em 0;
        color: $color-gray-dark;
    }
    >.action{
        text-align: center;
    }
    
    @mixin content-card-mobile() {
        padding: 0;
        border: none;
        margin-left: -15px;
        margin-right: -15px;
        >.header{
            display: flex;
            align-items: center;
            align-content: center;
            padding: 0 1em 1em;
            >.display-3{
                font-family: $body-font-family;
                font-weight: bold;
                font-size: 1.4em;
                flex-grow: 1;
                padding-right: 1em;
            }
            >.back-top-top{
                display: block;
                text-align: right;
                white-space: nowrap;
                font-family: $heading-font-family;
                font-size: 1.16em;
                position: relative;
                padding-right: 1em;
                &::before{
                    content: "\f077";
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 900;
                    font-size: 0.6em;
                    right: 0em;
                    top: 50%;
                    margin-top: -1.2em;
                    position: absolute;
                    color: $color-primary;
                }
            }
        }
        >.detail{
            padding: 0 1em;
            >p:last-child{
                margin-bottom: 0;
            }
        }
        >.action{
            display: none;
        }
    }
    @media screen and (max-width: 767px) {
        @include content-card-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include content-card-mobile();
    }
}