.footer{
    .footer-nav{
        background: $color-gray-lighten;
        padding: 3.2em 0;
    }
    .col-address{
        .logo{
            margin-bottom: 2.6em;
        }
        address{
            .display-2{
                margin-bottom: 0.4em;
            }
            p{
                color: $color-gray-dark;
            }
        }
    }
    .col-nav,
    .col-social{
        .display-2{
            margin-bottom: 1.14em;
            color: $color-gray;
        }
    }
    .col-nav{
        >ul{
            >li{
                margin-bottom: 0.8em;
            }
        }
    }
    @mixin footer-mobile() {
        .col-address,
        .col-nav,
        .col-social{
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            text-align: center;
            margin-bottom: 2em;
        }
        .col-social{
            margin-bottom: 0;
        }
        .country-list{
            >li{
                img{
                    max-width: 36px;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        @include footer-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include footer-mobile();
    }
}

.social-list{
    >li{
        display: inline-block;
        margin-right: 1em;
    }
}

.footer-country{
    padding: 2.4em 0 1em;
    text-align: center;
}
.country-list{
    >li{
        display: inline-block;
        margin: 0 0.4em;
        img{
            box-shadow: 0 3px 10px rgba(0,0,0,0.15);
        }
    }
}

.footer-copy{
    padding: 0 0 0.2em;
    text-align: center;
}