.text-field,
.select{
    >.input-control{
        border: 2px solid $color-gray-light;
        border-radius: 4px;
        position: relative;
        margin-top: 1em;
        >input,
        >textarea{
            width: 100%;
            border: none;
            outline: none;
            padding: 1em;
            line-height: 1em;
            font-size: 1.14em;
        }
        >label{
            position: absolute;
            display: inline-block;
            top:2px;
            left: 0;
            pointer-events: none;
            padding: 1em;
            line-height: 1em;
            font-size: 1.14em;
            color: $color-gray-dark;
        }
    }
    >.input-detail{
        >.message{
            font-size: 0.8em;
            color: $color-gray-dark;
            padding: 0 1em;
            >i{
                color: $color-gray;
            }
        }
    }
    &.-focus{
        >.input-control{
            >label{
                font-size: 0.8em;
                background: #fff;
                top: -0.6em;
                left: 1em;
                padding: 0 0.4em;
            }
        }
    }
    &.-error{
        >.input-control{
            border-color: $color-red;
            >label{
                color: $color-red;
            }
        }
        >.input-detail{
            >.message{
                color: $color-red;
            }
        }
    }
    &.-disabled{
        >.input-control{
            >input{
                color: $color-gray;
            }
        }
    }
}
.select{
    position: relative;
    >.input-control{
        position: relative;
        &::before{
            content: "\f0dd";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            font-size: 1em;
            right: 0.8em;
            top: 50%;
            margin-top: -0.8em;
            position: absolute;
            color: $color-primary;
        }
    }
    >.select-list{
        display: none;
    }
    &.-focus{
        >.select-list{
            position: absolute;
            display: block;
            width: 100%;
            background: #fff;
            box-shadow: 0 3px 10px rgba(0,0,0,0.15);
            top: 0;
            left: 0;
            >.select-list-item{
                >a{
                    display: block;
                    padding: 1em;
                    color: #000;
                    transition: all 0.3s ease;
                    text-decoration: none;
                    font-size: 1.14em;
                    &:hover{
                        background: $color-gray-lighten;
                    }
                }
            }
        }   
    }
}

.checkbox{
    >input[type=checkbox]{
        display: none;
    }
    >label{
        cursor: pointer;
        position: relative;
        padding: 0 0 0 2em;
        &::before{
            content: '';
            border: 2px solid $color-gray-light;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 4px;
        }
        
    }
    input[type=checkbox]:checked + label{
        &::before{
            background: $color-primary;
            border-color: $color-primary;
        }
        &::after{
            content: "\f00c";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            font-size: 1em;
            left: 4px;
            top: 50%;
            margin-top: -0.8em;
            position: absolute;
            color: #fff;
        }
    }
}