.list-brand{
    list-style: none;
    padding: 0;
    margin: 0;
    >li{
        margin-bottom: 1.4em;
        position: relative;
        padding-left: 30px;
        font-weight: bold;
        font-size: 1.14em;
        &::before{
            content: '';
            width: 17px;
            height: 17px;
            position: absolute;
            left: 0;
            top:0;
            background: url('/assets/images/icon-check.svg') no-repeat center center;
            background-size: contain;
        }
    }
    &.-sm{
        >li{
            font-size: 1em;
        }
    }
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
    >li{
        margin-bottom: 1em;
        font-size: 1em;
        position: relative;
        padding-left: 18px;
        &::before{
            content: "\f054";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            font-size: 0.8em;
            left: 0;
            top: 0.3em;
            position: absolute;
            color: $color-secondary;
        }
        >a{
            color: #000;
            font-weight: bold;
            text-decoration: none;
            transition: all 0.3s ease;
            &:hover{
                color: $color-primary;
            }
        }
    }
}