@import '~swiper/dist/css/swiper.css';

.logo-slider{
    >.title{
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        font-size: 1em;
        margin-bottom: 1em;
    }
    
    .logo-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-self: center;
        align-content: center;
        text-align: center;
        >.logo-item{
            margin: 1em 2em;
            >img{
                max-width: 100%;
            }
        }
    }
    @mixin logo-slider-mobile() {
        >.title{
            font-family: $heading-font-family;
            font-size: 1.2em;
        }
        .slide-item{
            width: auto;
        }
    }
    @media screen and (max-width: 992px) {
        @include logo-slider-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include logo-slider-mobile();
    }
}