.main-nav{
    border-bottom: 1px solid $color-gray-light;
    >.nav-container{
        display: flex;
        padding: 10px 0;
        align-items: center;
        >nav{
            >a{
                margin-left: 2.4em;
            }
            >a:not(.btn){
                color: $color-gray-dark;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover{
                    color: $color-primary;
                }
            }
        }
        >.navbar-toggler{
            display: none;
        }
    }
    @mixin main-nav-mobile() {
        >.nav-container{
            >.nav-brand{
                .logo{
                    margin-left: 15px;
                    max-width: 100px;
                }
            }
            >nav{
                display: none;
            }
            >.nav-toggler{
                display: block;
                width: 40px;
                height: 30px;
                cursor: pointer;
                position: relative;
                &::before,
                >.bar,
                &::after{
                    position: absolute;
                    content: '';
                    height: 2px;
                    border-radius: 2px;
                    background: $color-primary;
                    display: block;
                    left: 10px;
                    right: 10px;
                    top:50%;
                    margin-top: -1px;
                    translate: all 0.3s ease;
                }
                &::before{
                    margin-top: -8px;
                }
                >.bar{
                    background: #000;
                }
                &::after{
                    margin-top: 6px;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        @include main-nav-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include main-nav-mobile();
    }
    &.-open-menu{
        >.nav-container{
            >.nav-toggler{
                &:before{ 
                    transform: rotate(45deg);
                    margin-top: -1px;
                    background: #000;
                }
                >.bar { 
                    background: #000;
                    opacity: 0;
                }
                &:after{ 
                    transform: rotate(-45deg);
                    margin-top: -1px;
                }
            }
        }
    }
}
