.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    min-height: 600px;
    padding: 15px;
}

.modal{
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 12px 24pxrgba(0,0,0,0.8);
    background: #fff;
    padding: 3em;
    position: relative;
    .modal-close{
        position: absolute;
        right: 1.8em;
        top: 1.8em;
        padding: 0.2em;
    }
    .modal-header{
        margin-bottom: 0.8em;
    }
    .modal-content{
        color: $color-gray-dark;
        p:last-child{
            margin-bottom: 0;
        }
    }
}