.nav-vertical{
    >li{
        border-bottom: 1px solid $color-gray-light;
    }
    .nav-vertical-link{
        display: block;
        font-weight: bold;
        font-size: 1em;
        color: #000;
        text-decoration: none;
        padding: 1em 30px 1em 0;
        position: relative;
        &::before{
            content: "\f067";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            font-size: 1em;
            right: 0.8em;
            top: 50%;
            margin-top: -0.8em;
            position: absolute;
            color: $color-primary;
        }
    }
}