.offers-wrapper{
    background: $color-gray-lighten;
    padding: 3em 0;
}

.offer-item{
    display: flex;
    width: 100%;
    position: relative;
    background: #fff;
    padding: 2em 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-bottom: 3em;
    >.message-banner{
        display: inline-block;
        position: absolute;
        left: -0.5em;
        top: -1.25em;
        background: $color-secondary;
        padding: 0 1em 0 2.5em;
        border-radius: 0 1em 0 0;
        color: #fff;
        font-size: 0.86em;
        font-weight: bold;
        line-height: 2.5em;
        &::before{
            content: '';
            width: 16px;
            height: 16px;
            background: url('/assets/images/icon-check-white.svg') no-repeat center center;
            background-size: contain;
            position: absolute;
            left: 0.5em;
            top: 50%;
            margin-top: -8px;
            opacity: 0.5;
        }
    }

    >.monthly-cost,
    >.interest-tenure,
    >.loan,
    >.eligibility{
        position: relative;
        &::before{
            content: '';
            border-left: 1px solid $color-gray-light;
            position: absolute;
            left: 0;
            top: 50%;
            height: 60px;
            margin-top: -30px;
        }

        >.amount{
            font-size: 1.58em;
            font-weight: bold;
            line-height: 1.6em;
        }
        >.label{
            color: $color-primary;
            font-weight: bold;
            font-size: 1em;
        }
        >.detail{
            color: $color-gray;
            line-height: 1.3em;
        }
    }

    >.offeror{
        flex: 1 20%;
        padding: 0 2em;
        >.name{
            color: $color-gray-dark;
        }
    }
    >.monthly-cost{
        flex: 1 24%;
        padding-top: 0.6em;
        >.amount{
            color: $color-primary;
            font-size: 2.6em;
            line-height: 1em;
            >.currency{
                color: #000;
                font-size: 0.6em;
            }
        }
    }
    >.interest-tenure{
        flex: 1 18%;
    }
    >.loan{
        flex: 1 18%;
    }
    >.action{
        flex: 1 20%;
        padding: 0 2em;
        >button:nth-child(1){
            margin-bottom: 0.6em;
        }
        >button{
            max-width: 160px;
        }
    }
    >.eligibility{
        flex: 1 60%;
        padding: 0 0 0 2.5em;
        >.eligibility-list{
            text-align: left;
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
            >.eligibility-item{
                margin-bottom: 1em;
                font-size: 1em;
                position: relative;
                padding-left: 22px;
                font-weight: bold;
                color: $color-primary;
                &::before{
                    content: '';
                    width: 16px;
                    height: 16px;
                    background: url('/assets/images/icon-check.svg') no-repeat center center;
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    top: 0.2em;
                }
                &.-uncheck{
                    color: $color-gray-dark;
                    &::before{
                        background-image: url('/assets/images/icon-uncheck.svg');
                    }
                }
            }
        }
    }

    &.-not-qualified{
        >.action{
            >button:nth-child(1){
                margin-bottom: 0;
            }
        }
    }

    @mixin offer-item-mobile() {
        flex-wrap: wrap;
        padding-top: 0;
        >.message-banner{
            left: 0;
            top: -2.5em;
        }
        >.monthly-cost,
        >.interest-tenure,
        >.loan,
        >.eligibility{
            padding: 1em;
            &::before{
                display: none;
            }
        }
        >.offeror{
            flex: 1 100%;
            padding: 1em;
            border-bottom: 1px solid $color-gray-light;
            >.logo{
                img{
                    max-height: 40px;
                }
            }
            >.name{
                
            }
        }
        >.monthly-cost{
            flex: 1 100%;
        }
        >.interest-tenure,
        >.loan{
            padding: 0 2em 2em;
            flex: 1 50%;
        }
        >.loan{
            &::before{
                display: block;
                height: 40px;
                margin-top: -20px;
            }
        }
        >.eligibility{
            padding: 2em;
            flex: 1 100%;
            >.eligibility-list{
                columns: 1;
                -webkit-columns: 1;
                -moz-columns: 1;
            }
        }
        >.action{
            flex: 1 100%;
            >button{
                max-width: inherit;
            }
        }
    }
    @media screen and (max-width: 992px) {
        @include offer-item-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include offer-item-mobile();
    }
}