.offers-detail-wrapper{
    background: rgba(0,0,0,0.6);
    position: relative;
    height: 100vh;
    overflow: hidden;
    @media screen and (max-width: 767px) {
        overflow: inherit;
        height: auto;
    }
}

.offer-detail{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    background: #fff;
    overflow-y: auto;
    @media screen and (max-width: 1199px) {
        width: 60%;
    }
    >.close{
        display: none;
    }
    >.offer-detail-container{
        max-width: 100%;
        padding: 2em;
        >.header{
            display: flex;
            align-items: center;
            align-content: center;
            padding-bottom: 1em;
            margin-bottom: 2em;
            border-bottom: 1px solid $color-gray-light;
            >.offeror{
                >.logo{
                    >img{
                        max-height: 40px;
                    }
                }
                >.name{
                    font-weight: bold;
                    color: $color-gray-dark;
                }
            }
            >.loan{
                flex-grow: 1;
                text-align: right;
                
                >.label{
                    color: $color-primary;
                    font-weight: bold;
                    margin-bottom: 0.4em;
                    line-height: 1.2em;
                }
                >.amount{
                    font-weight: bold;
                    font-size: 2.6em;
                    >.currency,
                    >.percent{
                        color: $color-gray;
                        font-size: 0.6em;
                    }
                }
            }
        }
        >.panel-container{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            text-align: center;
            >.panel{
                flex: 1 33.333%;
                padding-bottom: 2em;
                >.label{
                    color: $color-primary;
                    font-weight: bold;
                    margin-bottom: 0.6em;
                    line-height: 1.2em;
                    @media screen and (max-width: 992px) {
                        font-size: 0.8em;
                        margin-bottom: 1em;
                    }
                }
                >.amount{
                    font-weight: bold;
                    font-size: 2.4em;
                    margin-bottom: 0.2em;
                    >.currency,
                    >.percent{
                        color: $color-gray;
                        font-size: 0.6em;
                    }
                }
                >.meta{
                    color: $color-gray-dark;
                    >i{
                        color: $color-secondary;
                    }
                }
            }
        }
        >.detail{
            margin-bottom: 1em;
            >.display-3{
                margin-bottom: 0.4em;
            }
            >.content{
                color: $color-gray-dark;
                img{
                    max-width: 100%;
                }
            }
        }
        >.eligibility{
            padding: 0;
            margin-bottom: 2em;
            >.display-3{
                margin-bottom: 0.4em;
            }
            >.eligibility-list{
                text-align: left;
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
                >.eligibility-item{
                    margin-bottom: 1em;
                    font-size: 1em;
                    position: relative;
                    padding-left: 22px;
                    font-weight: bold;
                    color: $color-primary;
                    &::before{
                        content: '';
                        width: 16px;
                        height: 16px;
                        background: url('/assets/images/icon-check.svg') no-repeat center center;
                        background-size: contain;
                        position: absolute;
                        left: 0;
                        top: 0.2em;
                    }
                    &.-uncheck{
                        color: $color-gray-dark;
                        &::before{
                            background-image: url('/assets/images/icon-uncheck.svg');
                        }
                    }
                }
            }
        }
    }

    @mixin offer-detail-mobile() {
        width: 100%;
        position: relative;
        padding-top: 2em;
        >.close{
            display: block;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 1em;
            top: 1em;
        }
        > .offer-detail-container {
            overflow: inherit;
            > .panel-container {
                > .panel {
                    flex: 1 50%;
                    > .label{
                        font-size: 1em;
                    }
                }
            }
            >.action{
                text-align: center;
                >button.btn{
                    font-size: 1.4em;
                }
            }
        }
        
    }
    @media screen and (max-width: 767px) {
        @include offer-detail-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include offer-detail-mobile();
    }
}