.pagination{
    .page-item{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 4px;
        .page-link{
            display: flex;
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            color: #000;
            background: $color-gray-lighten;
            text-decoration: none;
            font-weight: bold;
            transition: all 0.3s ease;
            &:hover{
                background: $color-gray-light;
            }
        }
        &.-disabled{
            .page-link{
                pointer-events: none;
                color: $color-gray-light;
            }
        }
        &.-active{
            .page-link{
                background: $color-primary;
                color: #fff;
            }
        }
    }
}