.person-item{
    margin-bottom: 1em;
    .thumb{
        margin-bottom: 1em;
        >.image{
            display: block;
            padding-top: 100%;
            border-radius: 10px;
            background: $color-gray-light no-repeat center center;
            background-size: cover;
        }
    }
    .content{
        >.display-3{
            text-transform: uppercase;
        }
        >.subtitle{
            margin-bottom: 1.4em;
            color: $color-primary;
            font-weight: normal;
        }
        >.detail{
            color: $color-gray-dark;
            line-height: 1.7em;
        }
    }
}