.review-card-wrapper{
    background: $color-gray-lighten;
    padding: 3em 0;
}
.review-card{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    min-height: 300px;
    >.highlight{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    >.content{
        color: $color-gray-dark;
        margin-bottom: 1em;
    }
    >.profile{
        >.avatar{
            background: no-repeat center center;
            background-size: cover;
            height: 4em;
            width: 4em;
            border-radius: 50%;
            margin: 0 auto;
        }
        >.name{
            font-size: 1em;
            font-weight: normal;
        }
        >.rating{
            font-size: 0.8em;
            color: $color-secondary-light;
            >i{
                margin: 0 1px;
                &.-disabled{
                    color: $color-gray-light;
                }
            }
        }
    }

    @mixin review-card-mobile() {
        min-height: 200px;
        >.profile{
            >.avatar{
                width: 3em;
                height: 3em;
            }
        }
    }
    @media screen and (max-width: 767px) {
        @include review-card-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include review-card-mobile();
    }
}