.stepper{
    display: flex;
    .step{
        .step-link{
            text-decoration: none;
            color: $color-gray;
            >.icon{
                display: inline-block;
                width: 23px;
                height: 23px;
                line-height: 23px;
                text-align: center;
                margin-right: 0.4em;
                border-radius: 50%;
                background: $color-gray;
                color: #fff;
                font-family: $heading-font-family;
            }
        }
        &.-active{
            .step-link{
                color: #000;
                >.icon{
                    background: $color-primary;
                }
            }
        }
        &.-complete{
            .step-link{
                color: #000;
                >.icon{
                    position: relative;
                    color: $color-primary;
                    background: $color-primary;
                    &::before{
                        content: "\f00c";
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 900;
                        font-size: 0.8em;
                        width: 100%;
                        text-align: center;
                        top: 0;
                        left: 0;
                        position: absolute;
                        color: #fff;
                    }
                }
            }
        }
    }
    .step-divider{
        border: none;
        border-top: 1px solid $color-gray-light;
        align-self: center;
        display: block;
        flex: 1 1 0;
        max-width: 100%;
        margin:0 0.6em;
    }
    @mixin step-mobile() {
        .step-link{
            .display-2{
                display: none;
            }
        }
    }
    @media screen and (max-width: 767px) {
        @include step-mobile();
    }
    &.-mobile{
        font-size: 12px;
        @include step-mobile();
    }
}