h1, .display-4{
    font-size: 2.6em;
    font-weight: 300;
    line-height: 1.2em;
    font-family: $heading-font-family;
    text-transform: uppercase;
    @media (max-width: 767px) {
        font-size: 2.1em;
    }
}
h2, .display-3{
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.2em;
    font-family: $heading-font-family;
}
h3, .display-2{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.2em;
    font-family: $heading-font-family;
}
h4, .display-1{
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.6em;
}
h5, .heading{
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.6em;
}
h6, .title{
    font-size: 1.14em;
    font-weight: 700;
    line-height: 1.6em;
}
.subtitle{
    font-size: 1em;
    font-weight: 700;
    line-height: 1.6em;
}
.body-1{
    font-size: 1.14em;
    font-weight: 400;
    line-height: 1.6em;
}
.body-2{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6em;
}
.caption{
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.6em;
}

//lang-th
.lang-th{
    &.display-4{
        font-family: $heading-font-family-th;
        font-size: 2.4em;
        font-weight: 500;
        line-height: 1.4em;
        @media (max-width: 767px) {
            font-size: 2em;
        }
    }
    &.display-3{
        font-family: $heading-font-family-th;
        font-size: 1.7em;
        font-weight: 500;
        line-height: 1.4em;
    }
    &.display-2{
        font-family: $heading-font-family-th;
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.4em;
    }
}

.lang-zh{
    &.display-4{
        font-family: $heading-font-family-zh;
        font-size: 2.2em;
        font-weight: 900;
        line-height: 1.4em;
        @media (max-width: 767px) {
            font-size: 1.8em;
        }
    }
    &.display-3{
        font-family: $heading-font-family-th;
        font-size: 1.6em;
        font-weight: 500;
        line-height: 1.4em;
    }
    &.display-2{
        font-family: $heading-font-family-th;
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.4em;
    }
}

.color-primary{
    color: $color-primary;
}