<template>
  <div id="app">
    <Typography />
      <hr class="section-space" />
    <Button />
      <hr class="section-space" />
    <Color />
      <hr class="section-space" />
    <List />
      <hr class="section-space" />
    <Accordion />
      <hr class="section-space" />
    <Pagination />
      <hr class="section-space" />
    <NavVertical />
      <hr class="section-space" />
    <MainNav />
      <hr class="section-space" />
    <Footer />
      <hr class="section-space" />
    <Stepper />
      <hr class="section-space" />
    <Form />
      <hr class="section-space" />
    <Modal />
      <hr class="section-space" />
    <OfferItem />
      <hr class="section-space" />
    <OfferDetail />
      <hr class="section-space" />
    <CalculatePanel />
      <hr class="section-space" />
    <ContentItem />
      <hr class="section-space" />
    <PersonItem />
      <hr class="section-space" />
    <ContentCard />
      <hr class="section-space" />
    <ContentSideMenu />
      <hr class="section-space" />
    <ReviewCard />
      <hr class="section-space" />
    <LogoSlider />
      <hr class="section-space" />
    <ReviewBadge />
      <hr class="section-space" />
    <AboutPage />
      <hr class="section-space" />
    <ContactPage />
      <hr class="section-space" />
    <Icons />
      <hr class="section-space" />
  </div>
</template>

<script>
import Typography from './components/Typography'
import Button from './components/Button'
import Color from './components/Color'
import List from './components/List'
import Accordion from './components/Accordion'
import Pagination from './components/Pagination'
import NavVertical from './components/NavVertical'
import MainNav from './components/MainNav'
import Footer from './components/Footer'
import Stepper from './components/Stepper'
import Form from './components/Form'
import Modal from './components/Modal'
import OfferItem from './components/OfferItem'
import OfferDetail from './components/OfferDetail'
import CalculatePanel from './components/CalculatePanel'
import ContentItem from './components/ContentItem'
import PersonItem from './components/PersonItem'
import ContentCard from './components/ContentCard'
import ReviewCard from './components/ReviewCard'
import Icons from './components/Icons'
import ContentSideMenu from './components/ContentSideMenu'
import LogoSlider from './components/LogoSlider'
import ReviewBadge from './components/ReviewBadge'
import ContactPage from './components/ContactPage'
import AboutPage from './components/AboutPage'

export default {
  name: 'app',
  components: {
    Typography,
    Button,
    Color,
    List,
    Accordion,
    Pagination,
    NavVertical,
    MainNav,
    Footer,
    Stepper,
    Form,
    Modal,
    OfferItem,
    OfferDetail,
    CalculatePanel,
    ContentItem,
    PersonItem,
    ContentCard,
    ReviewCard,
    Icons,
    ContentSideMenu,
    LogoSlider,
    ReviewBadge,
    ContactPage,
    AboutPage,
  }
}
</script>

<style lang="scss">
.section-space{
  margin: 10em 0;
}
</style>
